<div class="container">
  <h1>Current Animal List:</h1>
  <select (change)="onChange($event.target.value)">
    <option value="allAnimals" selected="selected">All Animals</option>
    <option value="old">Older Animals</option>
    <option value="young">Younger Animals</option>
  </select>
  <br><br>
    <ul>
      <li *ngFor="let currentAnimal of childAnimalList | animalAge:filterByAge">
        <div class="well">
          Species: {{currentAnimal.species}}<br>
          Name: {{currentAnimal.name}}<br>
          Age: {{currentAnimal.animalAge}}<br>
          Diet: {{currentAnimal.diet}}<br>
          Located: {{currentAnimal.location}}<br>
          Caretakers: {{currentAnimal.caretakers}}<br>
          Sex: {{currentAnimal.sex}}<br>
          Likes: {{currentAnimal.likes}}<br>
          Dislikes: {{currentAnimal.dislikes}}<br>
          Bio: {{currentAnimal.bio}}<br>
          Admitted: {{currentAnimal.admitted}}<br>

      <!-- The photos need to be lined differently -->
      <!-- <p>Pic: {{currentAnimal.photo}}</p> -->
      <button (click)="editButtonHasBeenClicked(currentAnimal)">Edit!</button>
      </div>
      </li>
    </ul>
</div>
