<div class="container">
  <p>
    new-animal works!
  </p>
  <button id="done" (click)="showAddForm()">Add new Animal</button>
  <div *ngIf="addAnimal===true">
  <h1>New Animal:</h1>
  <label>Species:</label>
  <input #newSpecies><br>
  <label>Name:</label>
  <input #newName><br>
  <label>Age:</label>
  <input type="number" #newAge><br>
  <label>Diet:</label>
  <input #newDiet>
  <label>Location:</label>
  <input #newLocation>
  <label>Caretakers:</label>
  <input type="number" #newCaretakers>
  <label>Sex:</label>
  <input #newSex>
  <label>Likes:</label>
  <input #newLikes>
  <label>Dislikes:</label>
  <input #newDislikes>
  <label>Bio:</label>
  <input #newBio>
  <label>Admitted:</label>
  <input #newAdmitted>
  <br><br>

  <!-- <button (click)="submitForm(newSpecies.value, newName.value, newAge.value, newDiet.value, newLocation.value, newCaretakers.value, newSex.value, newLikes.value, newDislikes.value, newBio.value, newAdmitted.value); newSpecies.value='', newName.value='', newAge.value='', newDiet.value='', newLocation.value='', newCaretakers.value='', newSex.value='', newLikes.value='', newDislikes.value='', newBio.value='', newAdmitted.value='';">Add New Animal</button> -->
</div>
</div>
