<div class="container">
  <p>
    edit-animal works!
  </p>
  <div *ngIf="childSelectedAnimal">
    <h1>Edit Animal details:</h1>
    <label>Edit</label><br>
    <input [(ngModel)]=childSelectedAnimal.species><br>
    <input [(ngModel)]=childSelectedAnimal.name><br>
    <input [(ngModel)]=childSelectedAnimal.age><br>
    <input [(ngModel)]=childSelectedAnimal.diet><br>
    <input [(ngModel)]=childSelectedAnimal.location><br>
    <input [(ngModel)]=childSelectedAnimal.caretakers><br>
    <input [(ngModel)]=childSelectedAnimal.sex><br>
    <input [(ngModel)]=childSelectedAnimal.likes><br>
    <input [(ngModel)]=childSelectedAnimal.dislikes><br>
    <input [(ngModel)]=childSelectedAnimal.bio><br>
    <input [(ngModel)]=childSelectedAnimal.admitted><br>
    <button (click)="doneButtonClicked()">Finished Editing</button>
  </div>
</div>
