<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header" >
      <div class="item1">
        <h1 id="header">{{title}}</h1>
        <!-- <li><a routerLink="about">About</a></li>
        <li><a routerLink="contact">Contact</a></li>
        <li><a routerLink="faqs">FAQS</a></li>
        <router-outlet></router-outlet> -->
        <!-- This router outlet redisplays the header???? -->
      </div>
    </div>
  </nav>
  <p id="new"><new-animal (newAnimalSender)="addAnimal($event)"></new-animal></p>
  <ul *ngFor="let currentAnimal of childAnimaList">
    <li></li>
  </ul>
  <animal-list [childAnimalList]="masterAnimalList" (clickSender)="editAnimal($event)"></animal-list>
  <edit-animal [childSelectedAnimal]="selectedAnimal" (doneButtonClickedSender)="finishedEditing()"></edit-animal>
</div>
