.navbar {
  background-color: rgb(98, 140, 85);
}

#header {
  color: #f1f7cd;
  text-align: center;
}

li {
  list-style: none;
}

.container {
  background-image: url("../assets/img/leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
